# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Packlet.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\succulent\Desktop\Projects\Packlet\.idea\.idea.Packlet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
